<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>{{liste.name}}</title>
</head>
<body>

    {%for book in books%}
        <div class="card" style="width: 10rem;">
            <img src="{{book.cover}}" class="card-img-top" alt="image">
            <div class="card-body">
                <h5 class="card-title">{{book.title}}</h5>
                <a href="{% url 'mybooksapp:detail_book' book.id%}" class="btn btn-primary">Detail</a>
            </div>
        </div>
    {%endfor%}

    <button type="button" class="btn btn-dark"><a href="{% url 'mybooksapp:new_book' %}" class='text-light'>+ Neues Buch hinzufügen</a></button>

</body>
</html>