<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>{{book.title}}</title>
</head>
<body>
    <img src="{{book.cover}}" class="" alt="image">
    <table class='table'>
        <tr><th>Titel</th><th>Autor</th><th>Inhalt</th><th>Bewertung</th><th>Gelesen</th><th>Preis</th><th>Genre</th></tr>
        <tr>
            <td class='p-3'>{{book.title}}</td>
            <td class='p-3'>{{book.author}}</td>
            <td class='p-3'>{{book.content}}</td>
            <td class='p-3'>{{book.rating}}</td>
            <td class='p-3'>{{book.done}}</td>
            <td class='p-3'>{{book.price}}</td>
            <td class='p-3'>{{book.genre}}</td>
        </tr>
    </table>
    <a href="{% url 'mybooksapp:update_book' book.id%}">Bearbeiten</a>
    <a href="{% url 'mybooksapp:delete_book' book.id%}">Löschen</a>
</body>
</html>