<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Neues Buch hinzufügen</title>
</head>
<body>

    <form action="" method="post">
    {% csrf_token %}
    
    <label>ISBN-Suche</label><input type="text" name="isbn_search"><br>
    <label>ISBN</label><input type="text" name="isbn" value="{{isbn_number}}">
    <label>Titel</label><input type="text" name="title" value="{{isbn_title}}">
    <label>Autor:in</label><input type="text" name="author" value="{{isbn_author}}">
    <label>Inhalt</label><input type="textarea" name="content" value="{{isbn_description}}">
    <label>Bewertung</label><input type="number" name="rating">
    <label>Preis</label></br><input type="number" step="0.01" name="price">
    <label>Cover</label><input type="text" name="cover" value="{{isbn_cover}}">
    <label>Shopping Liste</label></br>
    <select name="booklist">
      {% for list in booklists %}
        <option value="{{list.id}}">{{list}}</option>
      {% endfor %}
    </select>
    <select name="genre">
      {% for genre in genres %}
        <option value="{{genre.id}}">{{genre}}</option>
      {% endfor %}
    </select>

    <input type="submit" class="btn mt-4" value="Anlegen">
  </form>

</body>
</html>